.popup__bio {
  margin: 29.74px 36px 0;
  padding: 0 0 13px 0;
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .popup__bio {
    margin-left: 18px;
    max-width: calc(300px - 18px*2);
  }
}