.profile__username {
  margin: 18px 0 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.33;
}

@media screen and (max-width: 883px) {
  .profile__username {
    margin: 0;
    font-size: 27px;
    line-height: 2.07;
  }
}